---
################################ BASE INFO ##########################
# kubernetes 群集安装都依赖域名, 默认依赖服务hosts文件,可以使用域名服务解析
# 当HOSTS_FILE_TAG为true时,使用本地hosts文件解析;false使用DNS服务域名解析
###################### 注意: 如果使用hosts为解析,请备份好原配置;默认是替换原来的hosts文件
HOSTS_FILE_TAG: false

# domain
# 局域网内部解析根域名;就算不用linux hosts文件解析;也需要配置。应用使用配置文件
# 生成的hosts配置文件使用到,证书使用到,addons 使用到
# Example
### DOMAIN: "cc.co"
DOMAIN: "cc.co"
# 当使用域名服务解析时,域名配置为
# 域名配置为SITE_INFO 下一层的儿子层key。
########################
## EXAMPLE:
##  SITE_INFO:
##    k8s_master:
##      master01:
##        ip: 192.168.3.24
##      master02:
##        ip: 192.168.3.25
##      master03:
##        ip: 192.168.3.26
##
## master01.${DOMAIN} --> master01.cc.co

TOOLS_TMP_DIR: "/tmp"

################################ CLUSTER INFO ##########################

# inventory group name
# 配置为ansible hosts 文件的组名必须为如下，自定义的其他应用除外
#   也就是说SITE_INFO下面一层的如下配置必须为固定, 还有ip字段
# k8s_master
# k8s_work
# etcd
# proxy

# ansible hosts childre group
# 组嵌套CHILDREN下面一层的如下配置必须为固定
CHILDREN:
  k8s_node:
    children: [k8s_master, k8s_work]
  cluster_node:
    children: [k8s_master, k8s_work, proxy, etcd]

# 服务器hosts文件生成依赖SIT_INFO配置,但是最终控制hosts需要生成的信息,是如下配置
HOSTS_LIST: [k8s_master, k8s_work, proxy, etcd]

# SITE_INFO 下面一层不能改变
SITE_INFO:
  k8s_master:
    master01:
      ip: 192.168.3.24

  etcd:
    etcd01:
      ip: 192.168.3.24

  k8s_work:
    work01:
      ip: 192.168.3.27
    work02:
      ip: 192.168.3.28

  proxy:
    proxy01:
      ip: 192.168.3.27
    proxy02:
      ip: 192.168.3.28

  ingress_work:
    ingress01:
      ip: 192.168.3.27

################################ BASE ##########################

# app work
APP_WORK: "/opt/kubernetes"

# clear config direcotry
# 清除的是 APP_WORK 配置的目录
# 多次运行脚本时是否需要清除老的已存在目录，默认会清理 config 配置目录
#   同一个环境跑多次的时候，请注意；不要误操作
CLEAR_EK_TAG: true

# run work
RUN_WORK: "/var/run"

# bin work
BIN_WORK: "/usr/local/bin"

# systemd service work
SYSTEM_SERVICE_WORK: "/usr/lib/systemd/system"

# kubernetes cni
KUBE_N: "10.254.0"
KUBE_CNI: "{{ KUBE_N }}.0/16"

# kubernetes cluster dns domain
# kubernetes 群集服务发现dns IP
# KUBE_DNS: "k8s-dns.{{ DOMAIN }}"
KUBE_DNS: "{{ KUBE_N }}.2"

# network card enp0s8 ens37 ens33 ens34
# 配置flanneld 调用的网络通信网卡，无论几个网卡；都必须选择一个网卡配置
NETWORK_CARD: "ens34"

# kube add ons info file
KUBE_ADDONS_INFO: "/tmp/addons.info"

################################ KUBERNETES ##########################
# KUBE_MASTER_CLUSTER: false
# 配置为false, 表示群集部署一个master节点;
# 配置为true, 表示群集部署多个master节点; 当配置为true时,
#   必须配置下面KUBE_PROXY和KUBE_PROXY_PORT参数, 表示为代理apiserver地址和端口
#   表示为apiserver地址和端口
KUBE_MASTER_CLUSTER: true

# 当KUBE_MASTER_CLUSTER 为false时，此处配置不生效，
# 当配置为127.0.0.1 和 localhost 时；默认在本地安装haproxy或者nginx作为代理到apiserver
# 目前只支持本地安装haproxy或者nginx作为代理到apiserver
KUBE_PROXY: "127.0.0.1"
KUBE_PROXY_PORT: 8443

# 当KUBE_MASTER_CLUSTER 为true时， 此处配置不生效
# 单个master时，work使用的apiserver地址
KUBE_APISERVER: "one-k8s-master.{{ DOMAIN }}"

############################# kube master
# apiserver count default 1
API_COUNT: 1

################################ DOCKER ##########################
# docker  systemd or  cgroupfs
CGROUP_DRIVE: "cgroupfs"

# docker cn registries
CN_REGISTRY: ["https://registry.docker-cn.com"]

# docker insecure-registries
# INSECURE_REGISTRIES: ["myregistrydomain.com:5000"]

# default 18.03.1 select 17.12.1 or 18.03.1
DOCKER_VERSION: "18.03.1.ce-1.el7.centos"

# docker work dir default /var/lib/docker
# 当启用了此项配置，会为docker配置data目录指向
DOCKER_WORK: "/data/docker"

################################ KUBERNSTES HA ##########################
# ha_server 2 paras haproxy and nginx
# kubernetes 高可用默认支持haproxy和nginx，并且KUBE_TAG为true时才生效
# 选择使用那种应用作为高可用组件，参数 haproxy nginx
HA_SERVER: "haproxy"

################################ KUBE-ADDONS ##########################
# ingress keepalived vip
INGRESS_KEEPALIVED:
  tag: true
  etc: "/etc/keepalived"
  vip: "192.168.3.200"
  interface: "ens34"

################################ SSL INFO ##########################
# ca resource dir
CA_BASE_DIR: "{{ playbook_dir }}/ssl/ca"

################################ KUBERNETES INFO ##########################
# ca resource dir
KUBE_VERSION: latest

################################ KUBE ADDON INFO ##########################
# coredns
COREDNS:
  image: "coredns/coredns:1.3.1"

# dashboard
DASHBOARD:
  image: "mirrorgooglecontainers/kubernetes-dashboard-amd64:v1.10.0"
  nodeport: 30001
  web_url: "k8s.{{ DOMAIN }}"

# traefik
TRAEFIK:
  image: "traefik:1.7.7-alpine"
  web_url: "traefik.{{ DOMAIN }}"
  label_key: "traefik"
  label_value: "proxy"
  cert_name: "traefik-cert"
  configmap_name: "traefik-conf"

# heapster
HEAPSTER:
  image: "mirrorgooglecontainers/heapster-amd64:v1.5.4"

# grafana
GRAFANA:
  tag: false
  image: "mirrorgooglecontainers/heapster-grafana-amd64:v5.0.4"
  nodePort: 30002
  web_url: "grafana.{{ DOMAIN }}"

# influxdb
INFLUXDB:
  image: "mirrorgooglecontainers/heapster-influxdb-amd64:v1.5.2"

# prometheus
PRPMETHEUS:
  tag: false
  image: "prom/prometheus:v2.3.2"
  nodePort: 30003

# efk
EFK:
  tag: false
  es_image: "registry.cn-hangzhou.aliyuncs.com/atos/elasticsearch-oss:6.2.4"
  ka_image: "registry.cn-beijing.aliyuncs.com/efk-install/kibana-oss:6.2.4"
  fd_image: "netonline/fluentd-elasticsearch:v2.0.4"
  web_url: "kibana.{{ DOMAIN }}"
  nodePort: 30004

################################ TIME INFO ##########################
# set time tag
# 默认支持配置系统时间同步
TIME:
  time_tag: true
  time_server: "0.centos.pool.ntp.org"
