{
  "signing": {
    "default": {
      "expiry": "{{ EXPIRY_TIME }}"
    },
    "profiles": {
      "kubernetes": {
        "usages": [
          "signing",
          "key encipherment",
          "server auth",
          "client auth"
        ],
        "expiry": "{{ EXPIRY_TIME }}"
      }
    }
  }
}