[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
EnvironmentFile={{ APP_WORK }}/config/flanneld
EnvironmentFile=-/etc/sysconfig/kube-centos/docker-network
ExecStart={{ BIN_WORK }}/flanneld \
  -etcd-endpoints=${FLANNEL_ETCD_ENDPOINTS} \
  -etcd-prefix=${FLANNEL_ETCD_PREFIX} \
  -ip-masq \
  $FLANNEL_OPTIONS
ExecStartPost={{ BIN_WORK }}/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service